@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.mode-line {
    font: sans;
    padding: 0px;
    background-color: black;
    color: white;
}

.mode-line label {
    color: white;
}
